body {
    margin: 0px;
    padding: 0px;
    background-image: url(./imges/background.png);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.navitem {
    width: 100%;
    height: 70px;
    /* background-color: aqua; */
    display: flex;
    justify-content: right;
    align-items: center;
}

.navitem .btn {
    margin-right: 5%;
    font-size: 17px;
    color: rgb(255, 255, 255);
    border: 0px;
    background-color: rgb(135, 117, 10);
    cursor: pointer;
}
body main {
    width: 100%;
    position: absolute;
}

body main .hide {
    width: 50%;
    padding: 5px;
    background-color:rgb(16, 187, 53);
    position: relative;
    left: 23%;
    top: 100px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px green;
    margin: 10px;
}
body main .about-me{
    background-image: url(./imges/about\ me\ background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px 5px rgb(49, 30, 7);
    left: 10%;
}



body main .about-me p {
    font-size: 18px;
    color: rgb(250, 251, 255);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body main .education{
    background-image: url(./imges/back-to-school-yellow-abstract-pattern-background-free-vector.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px 5px rgb(132, 93, 41);
    left: 15%;
}
body main .education h2,p {
    color: rgb(0, 0, 0);
    font-weight: bold;
}
body main .education p {
    margin-left: 70%;
    font-size: 20px;
    color: rgb(13, 0, 253);
}

body main .personal {
    background-image: url(./imges/16-165814_20-cool-technology-wallpapers-information-technology-background-hd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px 5px rgba(3, 7, 28, 0.792);
    margin-bottom: 200px;
}
body main .personal p {
    color: white;
    font-size: 17px;
    text-align: left;
}
body main .close {
    background-color: red;
    color: black;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px red;
    margin-left: 47%;
    transition-duration: 0.5s;
}
body main  .close:hover{
    background-color: black;
    color: red;
    transition-duration: 0.5s;
    box-shadow: 1px 1px 1px 1px black;
}



body main .about-me {
    display: none;
}
body main .education{
    display: none;
}
body main .personal {
    display: none;
}
.card h2 {
    text-align: center;
}

/* .contact {
    position: fixed;
    top: 100px;
    left: 20px;
}
.contact * {
    font-size: 22px;
    color: rgb(90, 11, 164);
}
.contact a {
    text-decoration: none;
     color: rgb(90, 11, 164)
} */


footer {
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p,a {
    color: white;
    font-size: 17px;
    text-decoration: none;
    margin: 20px;
}

/* quadratic equation*/
main .math {
    display: none;
    margin-left: 30px;
    width: 350px;
    text-align: center;
    border: 3px solid black;
}
main .math h2 {
    color: green;
    
}
main .math .wrap{
    display: flex;
    justify-content: space-around;
}
main .math .equation {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;

}
main .math .equation .mat {
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
}
main .math .equation .sol {
    background-color: green;
}
main .math .answer {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
main .math .answer span {
    display: flex;
    align-items: center;
}
/* tic tac */
main .tic-tac {
    display: none;
}
.wrapper {
    width: 320px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}
.click {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: rgb(86, 88, 88);
    border: 2px solid black;
    user-select: none;
    transition-duration: 0.5s;
}
.click:hover{
    background-color: chartreuse;
    transition-duration: 0.5s;
}
#reset{
    width: 250px;
    height: 50px;
    margin: auto;
    user-select: none;
    cursor: pointer;
    margin-top: 50px;
    font-size: 28px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}